{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "printWidth": 80,
  "bracketSameLine": true
}
